* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0 0 3px 3px #0d7cab;
    background-color: rgb(16, 16, 16);
    color: white
}


header > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    min-width: 40rem;
}

main {
    width: 99vw;
}

main img {
    width: 100%
}

main > section > p, h2, h3 {
    padding-left: 13rem;
}

li {
    width: fit-content;
}

li:hover {
    color:#2bace2;
    font-weight: bold;
}

#logo {
    width: 300px;
}

aside {
    width: 10%;
    padding-left: 0.5rem;
    float: left;
    height: 30vh;
    margin: none;
    border-right: 1.5px solid black;
}

aside > h2 {
    margin-top: auto;
    padding: 0;
}

footer > section {
    display: flex;
    align-items: center;
}

footer h2 {
    margin-bottom: 0;
    padding: 0;
}

footer h3 {
    padding: 0;
}

footer p {
    margin: 0 0.5rem 0 0.5rem;
}

footer {
    padding: 1rem;
    background-color: rgb(16, 16, 16);
    color: white
}